.App {
  text-align: center;
 
}


  
  

.span{
  background-color: #1f69bd;
}
.btn{
  border-color: white;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bodyBlack{
  
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  overflow:auto;
  
  
}
.customtextfield{
  
  
  color:white !important;
  border-bottom: white !important;
  
  

  
  
  
}

.bodyWhite{
  background-color: white;
  color: black;
  height: 100vh;
  width: 100%;
  overflow:auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
